.checkoutBox {
  width: 28%;
  height: 228px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 35px;
}

@media (max-width: 1150px) {
  .checkoutBox {
    width: 100%;
    margin-bottom: 70px;
  }
}
