.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
  width: 90%;
  max-width: 1200px;
  margin-top: 23%;
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
  word-spacing: 3px;
}

.title span {
  color: #28a745;
}

.searchBar {
  width: 90%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #00000026;
  border-radius: 20px;
  margin: 0 auto;
  gap: 10px;
  backdrop-filter: blur(8px);
}

.inputs {
  display: flex;
}

.textInput {
  display: flex;
}

.searchBar button {
  width: 215px;
  height: 51px;
  padding: 8px;
  border-radius: 16px;
  border: none;
  background-color: #28a745;
  color: #fff;
  font-family: "yekan-bakh-bold";
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.searchBar button:hover {
  background-color: #227634;
}

@media (max-width: 1200px) {
  .searchBar {
    width: 100%;
  }

  .searchBar button {
    width: 95px;
    font-size: 18px;
  }
}

@media (max-width: 1128px) {
  .searchBar {
    border: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .searchBar button {
    width: calc(100% - 8px);
    font-size: 20px;
  }

  .inputs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .textInput {
    width: 100%;
    display: flex;
  }

  .dateInput {
    width: 100%;
  }

  .title {
    font-size: 21px;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: 16px;
  }
}
