.container {
  display: flex;
  height: 74px;
  padding: 0 126px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.container > div {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 0 40px;
  }
}