.right {
  width: 50%;
  float: right;
}

.left {
  width: 50%;
  float: left;
  text-align: left;
  margin-top: 40px;
}

.lis {
  display: flex;
}

.lis h3 {
  font-size: 24px;
  color: #282828;
}

.lis ul {
  padding: 0;
}

.lis li {
  list-style: none;
  font-size: 18px;
  line-height: 27.9px;
  color: #282828;
  margin-bottom: 12px;
}

/* namads */

.namads {
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.namads img {
  padding-right: 30px;
}

/* responsive */

@media (max-width: 950px) {
  .namads {
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
  }
}

@media (max-width: 820px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .lis h3 {
    font-size: 22px;
  }

  .lis li {
    font-size: 16px;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 30px;
  }

  .logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    width: 100px;
    height: 30px;
  }

  .logo p {
    width: 153px;
  }

  .namads {
    width: 50%;
    justify-content: center;
    gap: 5px;
    margin: 0;
  }

  .namads img {
    width: 35px;
    height: 38px;
  }
}
