.container {
    width: 100%;
    height: 74px;
    display: flex;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container > div {
    display: flex;
    align-items: center;
}