.container {
  display: flex;
  width: 100%;
  height: 676px;
}

.box {
  width: 50%;
  position: relative;
  right: 3%;
}

.rightOfBox {
  width: 50%;
}

/* description */

.description span {
  font-size: 24px;
}

.description p {
  text-align: justify;
  font-size: 20px;
  width: 500px;
  word-spacing: 2px;
  line-height: 44px;
}

/* steps components */

.stepBox {
  width: 389px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20%;
}

.stepBox span {
  font-size: 24px;
}

.arrowRight {
  margin-left: 25px;
}

.arrowLeft {
  margin-right: 25px;
}

/* WhyTorinoSlider file */

.left div:first-child {
  display: flex;
}

.travelImage1 {
  z-index: 10;
  width: 389px;
  height: 479px;
  position: absolute;
  right: 0;
}

.travelImage2 {
  z-index: 9;
  width: 386px;
  height: 416px;
  position: absolute;
  right: 51px;
  top: 30px;
}

.travelImage3 {
  width: 216px;
  height: 273px;
  position: absolute;
  right: 297px;
  top: 103px;
}

.travelImage4 {
  width: 256px;
  height: 333px;
  position: absolute;
  right: 223px;
  top: 73px;
  z-index: 1;
}

/* WhyTorinoTitle */

.whyTorino {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.questionIcon {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: linear-gradient(180deg, #28a745 0%, #10411b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.questionIcon span:first-child {
  font-size: 38px;
  color: #fff;
  margin-top: 6px;
  font-family: vazir;
}

.whyTorino h1 {
  font-size: 40px;
  font-family: vazir;
}

.whyTorino span {
  color: #28a745;
}

@media (min-width: 1870px) {
  .box {
    position: relative;
    right: 12%;
    width: 45%;
  }
}

@media (min-width: 2200px) {
  .box {
    position: relative;
    right: 16%;
    width: 40%;
  }
}

@media (min-width: 2500px) {
  .box {
    position: relative;
    right: 21%;
    width: 34%;
  }
}

@media (max-width: 1110px) {
  .questionIcon {
    width: 48px;
    height: 48px;
  }

  .questionIcon span:first-child {
    font-size: 30px;
  }

  .whyTorino h1 {
    font-size: 34px;
  }

  .description span {
    font-size: 20px;
  }

  .description p {
    font-size: 18px;
    width: 380px;
  }

  .box {
    right: -2%;
  }
}

@media (max-width: 950px) {
  .container {
    flex-wrap: wrap;
  }

  .rightOfBox {
    width: 100%;
  }

  .description {
    display: none;
  }

  .box {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 11%;
  }
}

@media (max-width: 650px) {
  .travelImage1 {
    width: 289px;
    height: 379px;
  }

  .travelImage2 {
    width: 286px;
    height: 316px;
  }

  .travelImage4 {
    width: 156px;
    height: 233px;
  }

  .travelImage3 {
    width: 116px;
    height: 173px;
  }

  .stepBox {
    width: 282px;
    bottom: 35%;
  }

  .stepBox span {
    font-size: 21px;
  }

  .arrowRight {
    width: 24px;
    height: 24px;
  }

  .arrowLeft {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 490px) {
  .box {
    right: -7%;
  }

  .stepBox {
    width: 212px;
    bottom: 48%;
  }

  .stepBox span {
    font-size: 18px;
  }

  .arrowRight {
    width: 20px;
    height: 20px;
  }

  .arrowLeft {
    width: 20px;
    height: 20px;
  }

  .travelImage1 {
    width: 214px;
    height: 304px;
  }

  .travelImage2 {
    width: 211px;
    height: 241px;
    right: 39px;
  }

  .travelImage4 {
    width: 81px;
    height: 158px;
    right: 200px;
  }

  .travelImage3 {
    width: 41px;
    height: 98px;
    right: 258px;
  }
}