.container ul {
  display: flex;
}

.container li {
  list-style: none;
  padding: 15px;
  margin-right: 20px;
}

.container a {
  font-size: 16px;
}

.active {
  color: #28a745;
}

@media (max-width: 1070px) {
  .container a {
    font-size: 14px;
  }
}

@media (max-width: 1003px) {
  .container ul {
    display: none;
  }
}