.container ul {
  display: flex;
}

.container li {
  list-style: none;
  padding: 15px;
  margin-right: 20px;
}

.hamburContainer ul {
  margin: 0;
}

.hamburContainer li {
  display: flex;
  align-items: center;
}

.hamburContainer li img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.container a {
  font-size: 16px;
}

.active {
  color: #28a745;
}

@media (max-width: 1070px) {
  .container a {
    font-size: 14px;
  }
}

@media (max-width: 1003px) {
  .container ul {
    display: none;
  }
}
