.containerText,
.containerDate {
  display: flex;
  align-items: center;
  padding-right: 5px;
  gap: 10px;
  flex: 1;
  border-left: 1px solid #00000026;
  position: relative;
}

.containerDate {
  border: none;
}

.containerText input,
.containerDate input {
  appearance: none;
  padding-right: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
  height: 55px;
  font-family: yekan-bakh;
}

.containerText p,
.containerDate p {
  font-size: 20px;
  margin-right: 5px;
}

.containerText input::placeholder,
.containerDate input::placeholder {
  font-size: 20px;
  font-family: yekan-bakh;
  color: #2c2c2c;
}

.recomendedCities {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #00000033;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 125%;
  z-index: 10;
}

.recomendedCities h4 {
  width: calc(92% - 5px);
  height: 25px;
  border-radius: 11px 11px 0px 0px;
  padding: 10px;
  background-color: #f8f8f8;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #282828b2;
}

.recomendedCities > div {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #0000001f;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.recomendedCities p {
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  color: #282828;
}

.recomendedCities img {
  margin-right: 12px;
}

.datePicker {
  position: absolute;
  right: -35%;
}

@media (min-width: 1200px) {
  .containerText,
  .containerDate {
    display: flex;
    align-items: center;
    padding-right: 5px;
    gap: 10px;
    flex: 1;
    border-left: 1px solid #00000026;
    position: relative;
    width: 220px;
    margin: auto 0;
    margin-left: 20px;
    height: 56px;
  }

  .containerDate {
    border: none;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .container input {
    font-size: 14px;
  }
}

@media (max-width: 1128px) {
  .containerText {
    width: 48%;
    border: 1px solid #00000026;
    border-radius: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0 15px;
  }

  .containerDate {
    width: calc(100% - 42px);
    height: 53px;
    border: 1px solid #00000026;
    border-radius: 12px;
    padding: 0 15px;
  }

  .container input {
    height: 50px;
    margin: auto 0;
  }

  .recomendedCities h4 {
    width: calc(95% - 2px);
  }
}

@media (max-width: 720px) {
  .containerText input {
    width: 100%;
  }

  .containerText {
    width: 34%;
  }

  .recomendedCities h4 {
    width: calc(90% - 4px);
  }
}