.container button {
  width: 166px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #28a745;
  background-color: transparent;
  font-family: yekan-bakh;
  font-size: 18px;
  color: #28a745;
  line-height: 28.13px;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.registered {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.registered p {
  font-size: 18px;
  color: #28a745;
  margin: 0 10px;
  margin-top: 3px;
}