.left div:first-child {
  display: flex;
}

.travelImage1 {
  z-index: 10;
  width: 389px;
  height: 479px;
  position: absolute;
  right: 0;
}

.travelImage2 {
  z-index: 9;
  width: 386px;
  height: 416px;
  position: absolute;
  right: 51px;
  top: 30px;
}

.travelImage3 {
  width: 216px;
  height: 273px;
  position: absolute;
  right: 297px;
  top: 103px;
}

.travelImage4 {
  width: 256px;
  height: 333px;
  position: absolute;
  right: 223px;
  top: 73px;
  z-index: 1;
}
