.cards {
  margin-top: 300px;
}

.cards h1 {
  font-size: 32px;
  color: #000;
}

@media (max-width: 1000px) {
  .cards {
    margin-top: 140px;
  }
}

@media (max-width: 600px) {
  .cards {
    margin-top: 80px;
  }
}