.footer {
  display: flex;
  padding: 0 126px;
  flex-direction: column;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .footer {
    padding: 0 80px;
  }
}

@media (max-width: 720px) {
  .footer {
    padding: 0 40px;
  }
}