.servicesbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  padding: 0 40px;
  border-top: 1px solid #00000033;
}

.box {
  display: flex;
  align-items: center;
  width: 304px;
}

.image img {
  margin-top: 20px;
}

@media (max-width: 850px) {
  .box {
    width: 100%;
    justify-content: center;
  }

  .image img {
    width: 71px;
    height: 71px;
  }
}
